body {
	background-color: black;
}
div.InfoTerminal {
	width: 45vw;
	height: 90vh;
	position: absolute;
	top: 0vh;
	left: 5vw;
	text-align: left;
	color: black;
	overflow-y: auto;/*Should allow Scrolling*/
	z-index: 0;
}
div.StoryTerminal {
	width: 45vw;
	height: 90vh;
	position: absolute;
	top: 0vh;
	left: 55vw;
	text-align: left;
	color: black;
	overflow-y: auto;
	z-index: 0;
}
div.Stream {
	font-size: 5vh;
	color: white;
	z-index: 0;
}
input.Info {
	width: 25vw;
	height: 3vh;
	position: absolute;
	top: 91vh;
	left: 20vw;
	text-align: left;
	color: grey;
	z-index: 0;
}
input.Story {
	width: 25vw;
	height: 3vh;
	position: absolute;
	top: 91vh;
	left: 70vw;
	text-align: left;
	color: grey;
	z-index: 0;
}

/*Formatting of stuff*/
span {
	font-size: 5vh;
}
span.Stream {
	color: white;
}
span.Picked {
	color: grey;
}
span.Question {
	color: lightblue;
}
span.Notice {
	color: red;
}
span.Info {
	color: blue;
}

/*Dialogue stuff*/
span.Character {
	color: lightblue;
}
span.Dialogue {
	color: white;
}


/* Popup window info */
div.PopWindow {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 1; /* Sit on top */
}
div.PopWindowContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	z-index: 1; /* Sit on top */
 }


 /* Start Screen Info */
div.StartScreen {
	position: absolute; /* Stay in place */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,1.0); /* Black w/ opacity */
	z-index: 2; /* Sit on top */
}
div.GameTitle {
	font-size: 5vh;
	color: white;
	text-align: center;
	position: absolute; /* Stay in place */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,1.0); /* Black w/ opacity */
	z-index: 2; /* Sit on top */
}

button.StartButton {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 5vw 10vh;
	z-index: 2; /* Sit on top */
}


